<h2>Show note</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @note.body %>
  </li>

  <li>
    <strong>Mood:</strong>
    <%= @note.mood %>
  </li>

</ul>

<%= link "Back", to: note_path(@conn, :index) %>